@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.row {
    height: 100vh;
}

.bg-blue {
    background-color: #219ebc;
}

.color-blue {
    color: #219ebc;
}

.info {
    font-family: 'Anton', sans-serif;
}

.info a{
    text-decoration: none;
    color: #219ebc;
}

.about {
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 67px;
}

.rounded-circle {
    border: 5px solid #a8dadc;
}

.active {
    color: #000000 !important;
}

.card-body nav a:hover {
    color:#000000 !important;
}

.social img {
    opacity: 0.7;
}

.social img:hover {
    opacity: 1;
}


ol > li:nth-of-type(2n) {
    background-color: #ccebf5 ;
}

ol > li:nth-of-type(2n+1) {
    background-color: #86e3fa ;
}

.things {
    font-size: 52px;
}